# Database connection (using asyncpg driver for async SQLAlchemy)
DATABASE_URL=postgresql+asyncpg://postgres:postgrespassword@localhost:5432/traceiq

# Security and JWT
JWT_SECRET_KEY=94c8b0fb6029f636cc6b7a2d8d85fef109594f86d84a7e3d1c9ef26759c25603
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# CORS Allowed Origins (Comma separated)
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://127.0.0.1:5173,http://127.0.0.1:3000

# Backend Server Config
PORT=8000
